<a href="https://colab.research.google.com/github/tomonabe/PK/blob/main/R%E3%81%A7t%E6%A4%9C%E5%AE%9A.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [53]:
# Rでt検定
# 10,20,30,40,50の数字を書き換えてください

x <- c(10, 20, 30, 40, 50)

In [54]:
# 40,50,60,70,80の数字を書き換えてください

y <- c(40, 50, 60, 70, 80)

In [55]:
# それぞれの平均と標準偏差を表示します

mean (x)
sd(x)
mean(y)
sd(y)

[1] 30

[1] 15.81139

[1] 60

[1] 15.81139

In [56]:
# t検定を行います

t.test(x, y)

	Welch Two Sample t-test

data:  x and y
t = -3, df = 8, p-value = 0.01707
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 -53.060041  -6.939959
sample estimates:
mean of x mean of y
       30        60

In [57]:
# ATPの結果

x <- c(100, 100, 100, 100)
y <- c(83.8998, 81.7114, 87.3822, 85.3472)

In [58]:
# それぞれの平均と標準偏差を表示します

mean (x)
sd(x)
mean(y)
sd(y)

[1] 100

[1] 0

[1] 84.58515

[1] 2.389725

In [59]:
# t検定を行います
# p<0.01　なので有意差があります

t.test(x, y)

	Welch Two Sample t-test

data:  x and y
t = 12.901, df = 3, p-value = 0.001005
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 11.61226 19.21744
sample estimates:
mean of x mean of y
100.00000  84.58515